# Logistic Regression: Predicting the Defaulters

In [2]:
BankData = read.csv("D:/Imarticus/BankCreditCard.csv")

### Check the number of rows and columns

In [3]:
nrow(BankData)

[1] 30000

In [4]:
ncol(BankData)

[1] 25

In [5]:
colnames(BankData)

 [1] "Customer.ID"            "Credit_Amount"          "Gender"
 [4] "Academic_Qualification" "Marital"                "Age_Years"
 [7] "Repayment_Status_Jan"   "Repayment_Status_Feb"   "Repayment_Status_March"
[10] "Repayment_Status_April" "Repayment_Status_May"   "Repayment_Status_June"
[13] "Jan_Bill_Amount"        "Feb_Bill_Amount"        "March_Bill_Amount"
[16] "April_Bill_Amount"      "May_Bill_Amount"        "June_Bill_Amount"
[19] "Previous_Payment_Jan"   "Previous_Payment_Feb"   "Previous_Payment_March"
[22] "Previous_Payment_April" "Previous_Payment_May"   "Previous_Payment_June"
[25] "Default_Payment"

### Describing the dataset

In [6]:
str(BankData)

'data.frame':	30000 obs. of  25 variables:
 $ Customer.ID           : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Credit_Amount         : num  20000 220000 90000 50000 50000 50000 500000 200000 240000 20000 ...
 $ Gender                : int  2 2 2 2 1 1 1 2 2 1 ...
 $ Academic_Qualification: int  2 2 2 2 2 1 1 2 3 3 ...
 $ Marital               : int  1 2 2 1 1 2 2 2 1 2 ...
 $ Age_Years             : int  24 26 34 37 57 37 29 23 28 35 ...
 $ Repayment_Status_Jan  : int  2 0 0 0 0 0 0 0 0 0 ...
 $ Repayment_Status_Feb  : int  2 2 0 0 0 0 0 0 0 0 ...
 $ Repayment_Status_March: int  0 0 0 0 0 0 0 0 2 0 ...
 $ Repayment_Status_April: int  0 0 0 0 0 0 0 0 0 0 ...
 $ Repayment_Status_May  : int  0 0 0 0 0 0 0 0 0 0 ...
 $ Repayment_Status_June : int  0 2 0 0 0 0 0 0 0 0 ...
 $ Jan_Bill_Amount       : num  3933 3683 39339 46990 8637 ...
 $ Feb_Bill_Amount       : num  3103 1735 14037 48333 5570 ...
 $ March_Bill_Amount     : num  689 2682 23559 49292 35835 ...
 $ April_Bill_Amount     : num  0 3272 24332 29324 20940 ...
 $ May_Bill_Amount       : num  0 3455 14848 28858 18146 ...
 $ June_Bill_Amount      : num  0 3261 15548 28547 18131 ...
 $ Previous_Payment_Jan  : num  0 0 1619 3000 3000 ...
 $ Previous_Payment_Feb  : num  679 2000 2500 2029 36672 ...
 $ Previous_Payment_March: num  0 1000 1000 1200 10000 657 59000 0 552 0 ...
 $ Previous_Payment_April: num  0 1000 1000 1100 9000 ...
 $ Previous_Payment_May  : num  0 0 1000 1069 689 ...
 $ Previous_Payment_June : num  0 2000 5000 1000 679 ...
 $ Default_Payment       : int  1 1 0 0 0 0 0 0 0 0 ...

### Check Class Bias (Imbalanced Classification Problems)

In [7]:
table(BankData$Default_Payment)

    0     1
23364  6636

### Clearly there is a class bias, a condition observed when the proporion of events is much smaller than propertion of non-events. So we must sample the observations in approximately equal proportions to get better models

### Converting columns to factors according to data description

In [8]:
cols.to.factors = c("Gender","Academic_Qualification","Marital","Repayment_Status_Jan","Repayment_Status_Feb","Repayment_Status_March","Repayment_Status_April","Repayment_Status_May","Repayment_Status_June","Default_Payment")

In [9]:
BankData[cols.to.factors] = lapply(BankData[cols.to.factors], factor)

In [10]:
str(BankData)

'data.frame':	30000 obs. of  25 variables:
 $ Customer.ID           : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Credit_Amount         : num  20000 220000 90000 50000 50000 50000 500000 200000 240000 20000 ...
 $ Gender                : Factor w/ 2 levels "1","2": 2 2 2 2 1 1 1 2 2 1 ...
 $ Academic_Qualification: Factor w/ 6 levels "1","2","3","4",..: 2 2 2 2 2 1 1 2 3 3 ...
 $ Marital               : Factor w/ 4 levels "0","1","2","3": 2 3 3 2 2 3 3 3 2 3 ...
 $ Age_Years             : int  24 26 34 37 57 37 29 23 28 35 ...
 $ Repayment_Status_Jan  : Factor w/ 7 levels "0","1","2","3",..: 3 1 1 1 1 1 1 1 1 1 ...
 $ Repayment_Status_Feb  : Factor w/ 7 levels "0","1","2","3",..: 3 3 1 1 1 1 1 1 1 1 ...
 $ Repayment_Status_March: Factor w/ 7 levels "0","1","2","3",..: 1 1 1 1 1 1 1 1 3 1 ...
 $ Repayment_Status_April: Factor w/ 7 levels "0","1","2","3",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Repayment_Status_May  : Factor w/ 6 levels "0","2","3","4",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ Repayment_Status_June : Factor w/ 6 levels "0","2","3","4",..: 1 2 1 1 1 1 1 1 1 1 ...
 $ Jan_Bill_Amount       : num  3933 3683 39339 46990 8637 ...
 $ Feb_Bill_Amount       : num  3103 1735 14037 48333 5570 ...
 $ March_Bill_Amount     : num  689 2682 23559 49292 35835 ...
 $ April_Bill_Amount     : num  0 3272 24332 29324 20940 ...
 $ May_Bill_Amount       : num  0 3455 14848 28858 18146 ...
 $ June_Bill_Amount      : num  0 3261 15548 28547 18131 ...
 $ Previous_Payment_Jan  : num  0 0 1619 3000 3000 ...
 $ Previous_Payment_Feb  : num  679 2000 2500 2029 36672 ...
 $ Previous_Payment_March: num  0 1000 1000 1200 10000 657 59000 0 552 0 ...
 $ Previous_Payment_April: num  0 1000 1000 1100 9000 ...
 $ Previous_Payment_May  : num  0 0 1000 1069 689 ...
 $ Previous_Payment_June : num  0 2000 5000 1000 679 ...
 $ Default_Payment       : Factor w/ 2 levels "0","1": 2 2 1 1 1 1 1 1 1 1 ...

In [11]:
summary(BankData)

  Customer.ID    Credit_Amount     Gender    Academic_Qualification Marital
 Min.   :    1   Min.   :  20000   1:11888   1:10585                0:   54
 1st Qu.: 7501   1st Qu.:  50000   2:18112   2:14030                1:13659
 Median :15000   Median : 220000             3: 4917                2:15964
 Mean   :15000   Mean   : 192917             4:  123                3:  323
 3rd Qu.:22500   3rd Qu.: 270000             5:  280
 Max.   :30000   Max.   :2000000             6:   65

   Age_Years     Repayment_Status_Jan Repayment_Status_Feb
 Min.   :21.00   0:23182              0:25562
 1st Qu.:28.00   1: 3688              1:   28
 Median :34.00   2: 2667              2: 3927
 Mean   :35.49   3:  322              3:  326
 3rd Qu.:41.00   4:   76              4:   99
 Max.   :79.00   5:   26              5:   25
                 6:   39              6:   33
 Repayment_Status_March Repayment_Status_April Repayment_Status_May
 0:25787                0:26490                0:27032
 1:    4                1:    2                2: 2626
 2: 3819                2: 3159                3:  178
 3:  240                3:  180                4:   84
 4:   76                4:   69                5:   17
 5:   21                5:   35                6:   63
 6:   53                6:   65
 Repayment_Status_June Jan_Bill_Amount   Feb_Bill_Amount  March_Bill_Amount
 0:26921               Min.   :-365580   Min.   :-58777   Min.   :-257264
 2: 2766               1st Qu.:   3890   1st Qu.:  3517   1st Qu.:   2876
 3:  184               Median :  35662   Median : 30538   Median :  26568
 4:   49               Mean   :  81581   Mean   : 52517   Mean   :  59004
 5:   13               3rd Qu.:  67091   3rd Qu.: 57421   3rd Qu.:  60253
 6:   67               Max.   : 964533   Max.   :883831   Max.   :2664089

 April_Bill_Amount May_Bill_Amount  June_Bill_Amount  Previous_Payment_Jan
 Min.   :-270000   Min.   :-81334   Min.   :-338603   Min.   :     0
 1st Qu.:   2672   1st Qu.:  1763   1st Qu.:   1256   1st Qu.:  1000
 Median :  25629   Median : 18043   Median :  17071   Median :  3000
 Mean   :  55122   Mean   : 39940   Mean   :  38506   Mean   :  6286
 3rd Qu.:  54509   3rd Qu.: 50191   3rd Qu.:  48655   3rd Qu.:  6000
 Max.   : 992596   Max.   :827171   Max.   : 861664   Max.   :973663

 Previous_Payment_Feb Previous_Payment_March Previous_Payment_April
 Min.   :      0      Min.   :     0         Min.   :     0
 1st Qu.:    770      1st Qu.:   550         1st Qu.:   333
 Median :   2542      Median :  1900         Median :  1500
 Mean   :   7466      Mean   :  5836         Mean   :  5128
 3rd Qu.:   5000      3rd Qu.:  5500         3rd Qu.:  4013
 Max.   :2674259      Max.   :999055         Max.   :538897

 Previous_Payment_May Previous_Payment_June Default_Payment
 Min.   :     0       Min.   :     0.0      0:23364
 1st Qu.:   310       1st Qu.:   117.8      1: 6636
 Median :  1539       Median :  1500.0
 Mean   :  5261       Mean   :  5215.5
 3rd Qu.:  5000       3rd Qu.:  4000.0
 Max.   :536539       Max.   :528666.0

### Check for missing values

In [12]:
col_name = colnames(BankData)[apply(BankData, 2, function(n) any(is.na(n)))]

In [13]:
if(length(col_name) > 0) print("Nulls present") else print("No Nulls")

[1] "No Nulls"

In [14]:
col_name = colnames(BankData)[apply(BankData,2,function(n)any(n ==""))] 
if(length(col_name)>0)print("Blanks present")else print("No Blanks")

[1] "No Blanks"

### Level Encoding

In [15]:
levels(BankData$Gender)[levels(BankData$Gender) == "1"]= "Male" 
levels(BankData$Gender)[levels(BankData$Gender) == "2"]="Female"

In [16]:
str(BankData$Gender)

 Factor w/ 2 levels "Male","Female": 2 2 2 2 1 1 1 2 2 1 ...

In [17]:
levels(BankData$Academic_Qualification)[levels(BankData$Academic_Qualification) == "1"] = "Undergraduate" 
levels(BankData$Academic_Qualification)[levels(BankData$Academic_Qualification) == "2"] = "Graduate" 
levels(BankData$Academic_Qualification)[levels(BankData$Academic_Qualification) == "3"] = "Postgraduate" 
levels(BankData$Academic_Qualification)[levels(BankData$Academic_Qualification) == "4"] = "Professional" 
levels(BankData$Academic_Qualification)[levels(BankData$Academic_Qualification) == "5"] = "Others" 
levels(BankData$Academic_Qualification)[levels(BankData$Academic_Qualification) == "6"] = "Unknown"

In [18]:
str(BankData$Academic_Qualification)

 Factor w/ 6 levels "Undergraduate",..: 2 2 2 2 2 1 1 2 3 3 ...

### Randomly shuffling the dataset

In [19]:
grp = runif(nrow(BankData)) 
BankData = BankData[order(grp),]

### Create train and test samples

In [20]:
library(caret) 
library(ggplot2)

Warning message:
"package 'caret' was built under R version 3.6.3"Loading required package: lattice
Loading required package: ggplot2
Warning message:
"package 'ggplot2' was built under R version 3.6.3"

In [22]:
train.rows = createDataPartition(y=BankData$Default_Payment,p=0.7,list = FALSE) 
train.data = BankData[train.rows,] 
#70% data goes here table(train.data$Default_Payment)

table(train.data$Default_Payment)/length(train.data$Default_Payment)

        0         1
0.7787724 0.2212276

In [23]:
test.rows = createDataPartition(y=BankData$Default_Payment,p=0.3,list = FALSE) 
test.data = BankData[test.rows,] 

#30% data goes here table(test.data$Default_Payment)

table(test.data$Default_Payment)/length(test.data$Default_Payment)

        0         1
0.7788024 0.2211976

In [24]:
nrow(train.data) 
nrow(test.data)

[1] 21001

[1] 9001

### Build the Logistic regression model

In [25]:
glm_full_model = glm(Default_Payment ~ ., family = "binomial",data = train.data )

In [26]:
summary(glm_full_model)

Call:
glm(formula = Default_Payment ~ ., family = "binomial", data = train.data)

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-2.2616  -0.6031  -0.5165  -0.3408   3.3025

Coefficients:
                                     Estimate Std. Error z value Pr(>|z|)
(Intercept)                        -3.432e+00  6.692e-01  -5.128 2.93e-07 ***
Customer.ID                        -1.925e-07  2.182e-06  -0.088 0.929700
Credit_Amount                      -1.343e-06  1.776e-07  -7.562 3.98e-14 ***
GenderFemale                       -1.468e-01  3.835e-02  -3.828 0.000129 ***
Academic_QualificationGraduate     -3.946e-02  4.420e-02  -0.893 0.371909
Academic_QualificationPostgraduate -6.529e-02  5.906e-02  -1.106 0.268936
Academic_QualificationProfessional -9.892e-01  4.323e-01  -2.288 0.022136 *
Academic_QualificationOthers       -1.175e+00  2.877e-01  -4.085 4.41e-05 ***
Academic_QualificationUnknown      -7.848e-01  5.040e-01  -1.557 0.119462
Marital1                            1.944e+00  6.616e-01   2.939 0.003293 **
Marital2                            1.769e+00  6.616e-01   2.673 0.007515 **
Marital3                            1.896e+00  6.827e-01   2.777 0.005486 **
Age_Years                           5.531e-03  2.323e-03   2.381 0.017288 *
Repayment_Status_Jan1               7.343e-01  5.979e-02  12.280  < 2e-16 ***
Repayment_Status_Jan2               2.041e+00  6.625e-02  30.802  < 2e-16 ***
Repayment_Status_Jan3               1.977e+00  1.763e-01  11.215  < 2e-16 ***
Repayment_Status_Jan4               1.558e+00  3.338e-01   4.668 3.04e-06 ***
Repayment_Status_Jan5               1.198e+00  5.729e-01   2.092 0.036464 *
Repayment_Status_Jan6               8.037e-01  9.133e-01   0.880 0.378868
Repayment_Status_Feb1              -5.222e-01  6.518e-01  -0.801 0.423015
Repayment_Status_Feb2               2.436e-01  7.172e-02   3.397 0.000682 ***
Repayment_Status_Feb3               2.094e-01  1.761e-01   1.189 0.234439
Repayment_Status_Feb4              -5.950e-01  3.633e-01  -1.638 0.101447
Repayment_Status_Feb5               1.071e+00  8.115e-01   1.320 0.186991
Repayment_Status_Feb6               1.505e+00  1.146e+00   1.314 0.189000
Repayment_Status_March1            -1.103e+01  2.289e+02  -0.048 0.961557
Repayment_Status_March2             2.868e-01  7.146e-02   4.013 5.99e-05 ***
Repayment_Status_March3             5.592e-01  2.297e-01   2.435 0.014899 *
Repayment_Status_March4            -3.740e-02  4.901e-01  -0.076 0.939171
Repayment_Status_March5            -8.601e-01  7.869e-01  -1.093 0.274361
Repayment_Status_March6             6.869e-01  7.516e-01   0.914 0.360810
Repayment_Status_April1             1.276e+01  2.289e+02   0.056 0.955558
Repayment_Status_April2             1.899e-01  7.872e-02   2.413 0.015842 *
Repayment_Status_April3             7.127e-02  2.605e-01   0.274 0.784415
Repayment_Status_April4             2.662e-01  5.469e-01   0.487 0.626468
Repayment_Status_April5            -1.322e+00  7.840e-01  -1.686 0.091814 .
Repayment_Status_April6            -1.482e+01  1.384e+02  -0.107 0.914761
Repayment_Status_May2               2.720e-01  8.661e-02   3.140 0.001688 **
Repayment_Status_May3              -9.434e-02  2.616e-01  -0.361 0.718420
Repayment_Status_May4              -1.605e-01  5.191e-01  -0.309 0.757242
Repayment_Status_May5               1.568e+00  9.703e-01   1.616 0.106087
Repayment_Status_May6               1.406e+01  1.385e+02   0.102 0.919093
Repayment_Status_June2              2.838e-01  7.613e-02   3.728 0.000193 ***
Repayment_Status_June3              1.004e+00  2.582e-01   3.890 0.000100 ***
Repayment_Status_June4              3.209e-01  5.358e-01   0.599 0.549232
Repayment_Status_June5             -3.412e-01  8.141e-01  -0.419 0.675152
Repayment_Status_June6              1.274e+00  1.014e+00   1.256 0.208968
Jan_Bill_Amount                    -1.067e-06  4.223e-07  -2.527 0.011492 *
Feb_Bill_Amount                     2.032e-06  6.420e-07   3.165 0.001548 **
March_Bill_Amount                   9.577e-07  9.101e-07   1.052 0.292649
April_Bill_Amount                  -8.638e-07  9.152e-07  -0.944 0.345281
May_Bill_Amount                     1.118e-06  1.632e-06   0.685 0.493454
June_Bill_Amount                   -1.405e-06  1.395e-06  -1.008 0.313670
Previous_Payment_Jan               -9.649e-06  2.201e-06  -4.385 1.16e-05 ***
Previous_Payment_Feb               -5.569e-06  1.664e-06  -3.347 0.000816 ***
Previous_Payment_March             -2.688e-06  1.843e-06  -1.458 0.144802
Previous_Payment_April             -2.920e-06  1.901e-06  -1.536 0.124494
Previous_Payment_May               -1.505e-06  1.776e-06  -0.847 0.396793
Previous_Payment_June              -1.603e-06  1.488e-06  -1.078 0.281158
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 22196  on 21000  degrees of freedom
Residual deviance: 18399  on 20942  degrees of freedom
AIC: 18517

Number of Fisher Scoring iterations: 11

## Predicting probabilities obtained from the model

### Predict the Y-values

In [27]:
predict_full_model = predict(glm_full_model,test.data,type = "response")

### Note: response means that it gives probabilities

In [28]:
head(predict_full_model) 
table(train.data$Default_Payment)
predictions_full_model = ifelse(predict_full_model <= 0.5,0,1)

    15680      3785     13401     23007     28474     22895
0.1653692 0.2171631 0.8463050 0.1314665 0.2173448 0.1171388

    0     1
16355  4646

In [29]:
library(caret) 
library(e1071)

Warning message:
"package 'e1071' was built under R version 3.6.3"

### Build the confusion matrix

In [30]:
table(predicted = predictions_full_model,actual = test.data$Default_Payment) 
caret::confusionMatrix(as.factor(predictions_full_model),as.factor(test.data$Default_Payment))

         actual
predicted    0    1
        0 6675 1280
        1  335  711

Confusion Matrix and Statistics

          Reference
Prediction    0    1
         0 6675 1280
         1  335  711

               Accuracy : 0.8206
                 95% CI : (0.8125, 0.8285)
    No Information Rate : 0.7788
    P-Value [Acc > NIR] : < 2.2e-16

                  Kappa : 0.3726

 Mcnemar's Test P-Value : < 2.2e-16

            Sensitivity : 0.9522
            Specificity : 0.3571
         Pos Pred Value : 0.8391
         Neg Pred Value : 0.6797
             Prevalence : 0.7788
         Detection Rate : 0.7416
   Detection Prevalence : 0.8838
      Balanced Accuracy : 0.6547

       'Positive' Class : 0